.container {
    padding: 30px 80px;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            width: 100px;
        }
        .signup {
            display: inherit;
            gap: 20px;
            font-size: 16px
        }
    }
}